<div class="row m-0 content">
    <div class="col-lg-8 col-md-6 image d-flex align-items-center justify-content-center">
        <img src="assets/images/logo/logo.svg" alt="Logo ícone de local com uma pokébola ao centro">
    </div>
    <div class="col-lg-4 col-md-6 p-0">
        <form class="d-flex flex-column align-items-center">
            <h1>Faça login para continuar</h1>
            <div class="google-login" (click)="login()">
                <img src="../../../assets/images/google.png" alt="Logo google para login">
                <span>Login com o Google</span>
            </div>
        </form>
    </div>
</div>